  #navbar.navbar {
      font-family: Montserrat, sans-serif;
      background-color: #FF6699;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  #bb {
    font-family: italic;
  }
  #amber1{
    alignment-baseline: central
  }
  
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff;
  }
    .nav-tabs li a {
      color: #777;
    }| 
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red;
  }
#simintro {
  padding-top: 20px;
  font-family: oblique;
} 
footer { 
    display: block;
}

#idclose {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}