{% extends 'base.html' %}

{% block content %}
 <!-- Title -->  
<div id="bd" class="bg-1">
  <div class="container">
    <h3 class="text-center"> BRAND DIRECTORY </h3>
</div>
</div>

 <!-- Banner -->  
<div class="jumbotron">
  <div class="container text-center">
    <h1 id="bb">Online Store</h1>      
    <p>Where to buy our featured products!</p>
  </div>
</div>

 <!-- Product Panels -->  
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-danger" width="245" height="245">
        <div class="panel-heading">Luminous Silk Foundation</div>
        <div class="panel-body"><img src="{{url_for('static', filename='Pictures/AJfoundation.png')}}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">GIORGIO ARMANI, Luminous Silk Foundation £37.00 <a href="http://www.selfridges.com/GB/en/cat/giorgio-armani-luminous-silk-foundation_317-77011643-LUMSILKFDT/?previewAttribute=3.5">Luminous Silk, Selfridges</a></div>
      </div>
    </div>
    
    <div class="col-sm-4"> 
      <div class="panel panel-danger" width="245" height="245">
        <div class="panel-heading">Radiant Creamy Concealer</div>
        <div class="panel-body"><img src="{{url_for('static', filename='Pictures/narsconcealer.png')}}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">NARS, Radiant Creamy Concealer £22.50 <a href="http://www.selfridges.com/GB/en/cat/nars-radiant-creamy-concealer_318-2000192-CREAMYCON/?freeText=nars+creamy+concealer&msg=MSG_SEARCH_ONE_MATCHING_PRODUCT&shouldCachePage=true"> Radiant Creamy Concealer, Selfridges</a></div>
      </div>
    </div>
    
    <div class="col-sm-4"> 
      <div class="panel panel-danger" width="245" height="245">
        <div class="panel-heading">10CON 10 Color Concealer Palette</div>
        <div class="panel-body"><img src="{{url_for('static', filename='Pictures/morpheconcealer.png')}}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Morphe Brushes, 10 Color Concealer Palette £11.95 <a href="http://www.beautybay.com/cosmetics/morphebrushes/10con10colorconcealerpalette?utm_source=google%2Bshopping&utm_medium=organic&utm_campaign=shopping%2Bfeed&selectedSku=MOBR0002F&ctyid=gb&gclid=CMSRxp6-vswCFeIp0wod3RYDGw"> 10 Color Concealer Palette, Beauty Bay</a></div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-danger" width="255" height="255">
        <div class="panel-heading">Eye Defining Pen</div>
        <div class="panel-body"><img src="{{url_for('static', filename='Pictures/tomfordeyeliner.png')}}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Tom Ford, Eye Defining Pen £43.00 <a href="http://www.selfridges.com/GB/en/cat/tom-ford-eye-defining-pen_450-3001058-EYEDEFININGPEN/"> Eye Defining Pen, Selfridges</a></div>
      </div>
    </div>
    
    <div class="col-sm-4"> 
      <div class="panel panel-danger" width="255" height="255">
        <div class="panel-heading">Better Than Sex Mascara</div>
        <div class="panel-body"><img src="{{url_for('static', filename='Pictures/btsmascara.png')}}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Too Faced, Better Than Sex Mascara £17.00 <a href="https://www.toofaced.com/p/mascaras/better-than-sex-mascara/"> Mascara, Too Faced</a></div>
      </div>
    </div>
    
        <div class="col-sm-4"> 
      <div class="panel panel-danger" width="255" height="255">
        <div class="panel-heading">Benefit High Beam</div>
        <div class="panel-body"><img src="{{url_for('static', filename='Pictures/hbb.png')}}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"> Benefit High Beam Luminescent Complexion Enhancer, £19.50 <a href="http://www.feelunique.com/p/Benefit-High-Beam-Luminescent-Complexion-Enhancer-13ml?utm_source=GoogleBaseUK&utm_medium=gen&option=26794&gclid=CLSTkLjRwMwCFesW0wodbVsKHQ&gclsrc=aw.ds"> High Beam, FeelUnique</a></div>
      </div>
    </div>
  </div>
</div><br><br>    

{% endblock %}