{% extends 'base.html' %}

{% block content %}
 <!-- Title -->    
<div class="container text-center">
  <h3>MEET THE GANG</h3>
  <br>

<!-- intro's -->
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Simran</strong></p><br>
      <img src="{{url_for('static', filename='Pictures/selfie.jpg')}}" class="img-circle person" alt="Random Name" width="255" height="255">
      <p id="simintro" class="text-center"> IT student, tech geek, fashion addict and beauty product hoarder. My bible products are dermologica calming face wash, Nars concealer and coconut oil.</p>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Amber</strong></p><br>
      <img src="{{url_for('static', filename='Pictures/Amber2.jpg')}}" class="img-circle person" alt="Random Name" width="255" height="255">
      <p id="simintro" class="text-center">Law Student, dance enthusiast, copious cocktail drinker and shopaholic. My fave products are No 7 Stay Perfect Foundation, Urban Decay Naked 2 palette, Le Volume de Chanel Mascara</p>    
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Gurpreet</strong></p><br>
      <img src="{{url_for('static', filename='Pictures/gurpreet.png')}}" class="img-circle person" alt="Random Name" width="255" height="255">
   <p id="simintro" class="text-center">Accounting Student, Gym enthusiast, Foodie, Make Up Lover My live by products are Anastasia Beverly Hills Glow Kit, Benefit High Beam, Laura Mecier setting Powder</p>
    </div>
  </div>
</div>

<!-- Banner-->
<div class="jumbotron">
  <div class="container text-center">
    <h1 id="bb"> BEAUTY BLOG</h1></h1>      
    <p>The team behind the screen</p>
    <p> Behind these web-pages is a bunch of our favourite looks, products, techniques and everything else beauty related. Filled with our opinions and reccomendations. It's basically three totally different beauty styles in one simple blog, <br> I hope you love it xo </p>
  </div>
</div>
</body>
</html>

{% endblock %}